<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/bachat</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

      <property name="connection.username">root</property>
      <property name="connection.password">om</property>

      <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
      <!--property name="hbm2ddl.auto">update</property-->
      <property name="show_sql">true</property>
      <property name="format_sql">true</property>
      <property name="use_sql_comments">true</property>

      <mapping class="com.bachat.central.dao.Address"/>
      <mapping class="com.bachat.central.dao.Category"/>
      <mapping class="com.bachat.central.dao.City"/>
      <mapping class="com.bachat.central.dao.Location"/>
      <mapping class="com.bachat.central.dao.Offer"/>
      <mapping class="com.bachat.central.dao.OfferHistory"/>
      <mapping class="com.bachat.central.dao.Role"/>
      <mapping class="com.bachat.central.dao.Seller"/>
      <mapping class="com.bachat.central.dao.Shop"/>
      <mapping class="com.bachat.central.dao.ShopRating"/>
      <mapping class="com.bachat.central.dao.State"/>
      <mapping class="com.bachat.central.dao.User"/>
      <mapping class="com.bachat.central.dao.UserRole"/>
      <mapping class="com.bachat.central.dao.UserOfferFeedBack"/>
      <mapping class="com.bachat.central.dao.UserProfile"/>

      <!--mapping class="com.bachat.central.dao.Product"/-->
      <!--mapping class="com.bachat.central.dao.UserSession"/-->

      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>